[submodule "themes/freemind"]
	path = themes/freemind
    url = https://github.com/dvesti/mini



[submodule "theme-next-docs"] 
    path = theme-next-docs
    url = https://github.com/dvesti/mini/theme-next-docs

